<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pojazdy</title>
   <!-- <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
    <!--   <link rel="stylesheet" th:href="@{/css/main.css}"/> -->

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>
<header>E M P L O Y E E  	&nbsp;&nbsp;&nbsp;&nbsp; C A R 		&nbsp;&nbsp;&nbsp;&nbsp;   R E N T A L </header>

<div class="content">

<menu class="menu" th:insert="fragments/menu :: menu"></menu>

<main role="main" class="container">
<br><br>

        <h1>Lista pojazdów</h1>

    <table>
            
        <thead>
                 
        <tr>            
            <th> Producent</th>
                        
            <th> Model</th>
                        
            <th> Typ</th>

            <th> Data produkcji</th>
                        
            <th> Przebieg</th>
                        
            <th> Aktualny stan</th>
                        
            <th> Stan paliwa</th>      
        </tr>
        </thead>
         
        <tbody>    
        <tr th:if="${cars.empty}">
               
            <td colspan="2"> Brak pojazdów</td>
                    
        </tr>
                 
        <tr th:each="car : ${cars}">
                        
            <td><span th:text="${car.brand}">  </span></td>
                        
            <td><span th:text="${car.model}">  </span></td>
                        
            <td><span th:text="${car.type.displayValue}">  </span></td>

            <td><span th:text="${#dates.format(car.productionDate,'dd-MM-yyyy')}"></span></td>
                        
            <td><span th:text="${car.currentCourse}">  </span></td>

            <td><span th:text="${car.status}">  </span></td>

            <td><span th:text="${car.currentFuelLevel}">  </span>%</td>
                   
        </tr>
        </tbody>
    </table>
</main>

    <footer class="footer" th:insert="fragments/footer :: footer"></footer>
</div>



<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>