<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8">
        <title>Pracownicza wypożyczalnia pojazdów</title>
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon.ico}">
    </div>
</head>
<body>
<div th:fragment="header">
    <div class="header">
        <div class="logo">
            <img src="../../static/image/logo.png" th:src="@{/image/logo.png}" alt="logo"/>


            <!--<pre>,&#45;&#45;&#45;&#45;&#45;&#45;.  ,-&#45;&#45;&#45;&#45;. ,&#45;&#45;&#45;&#45;&#45;&#45;.     ,-&#45;&#45;.                       ,&#45;&#45;.
            |  .-&#45;&#45;&#39; &#39;  .&#45;&#45;./ |  .&#45;&#45;. &#39;   &#39;   .-&#39;  ,&#45;&#45;. ,&#45;&#45;.  ,-&#45;&#45;.  ,-&#39;  &#39;-.  ,-&#45;&#45;.  ,&#45;&#45;,&#45;&#45;,&#45;&#45;.
            |  `&#45;&#45;,  |  |     |  &#39;&#45;&#45;&#39;.&#39;   `.  `-.   \  &#39;  /  (  .-&#39;  &#39;-.  .-&#39; | .-. : |        |
            |  `-&#45;&#45;. &#39;  &#39;&#45;&#45;&#39;\ |  |\  \    .-&#39;    |   \   &#39;   .-&#39;  `)   |  |   \   &#45;&#45;. |  |  |  |
            `&#45;&#45;&#45;&#45;&#45;&#45;&#39;  `-&#45;&#45;&#45;&#45;&#39; `&#45;&#45;&#39; &#39;&#45;&#45;&#39;   `-&#45;&#45;&#45;&#45;&#39;  .-&#39;  /    `&#45;&#45;&#45;&#45;&#39;    `&#45;&#45;&#39;    `&#45;&#45;&#45;&#45;&#39; `&#45;&#45;`&#45;&#45;`&#45;&#45;&#39;
                                                   `-&#45;&#45;&#39;                                 By Dawid Kreft

            </pre>-->

        </div>
    </div>

</body>
</html>