<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="menu">


    <div class="menu-list">
        <p class="greeting" th:inline="text">Witaj  <br> [[${#httpServletRequest.remoteUser}]]!</p>
        <ul>
            <li><a href="/rentals">Start</a></li>
            <li><a href="/rentals/create">Wypożycz</a></li>
            <li><a href="/cars">Pojazdy</a></li>
            <li><a href="/rentals/history">Historia wypożyczeń</a></li>
            <li><a href="/users">Moje dane</a></li>
            <li><a href="/messages">Kontakt z administratorem</a></li>
            <li class="logout-li"><a href="#" th:href="@{/logout}">Wyloguj</a></li>

        </ul>
    </div>

</div>
</body>
</html>